// app global css in SCSS form
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.alert-danger {
  color: white;
  background-color: $negative;
}

.alert-warning {
  color: black;
  background-color: $warning;
}

.alert-info {
  color: black;
  background-color: $info;
}

.form-label {
  margin-right: 5px;
  margin-bottom: 15px;
}
